.grid-container {
  margin: 20px;
}

.search-field {
  width: 100%;
}

.aircraft-group {
  margin-top: 15px;
}

.aircraft-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  display: flex;
  align-items: center;

  .aside {
    width: 30%;
    margin-right: 10px;
  }

  .main {
    width: 70%;
  }

}
