@import '../../styles.scss';

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.ge-monogram {
  width: 50px;
}

.mat-nav-list a.active-link {
  // TODO: Change to $codejam-highlight;
    color: orange;
}

// Will get overriden by material's color="primary"
.mat-toolbar {
  background-color: green;
  color: orange;
}

mat-nav-list mat-icon {
  margin-right: 15px;
}

.child-1 {
  padding-left: 60px;
}

.child-2 {
  padding-left: 75px;
}
